# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-storage-blob
pdfplumber
sentence-transformers
langchain
openai~=1.102
azure-core~=1.35
azure-search-documents~=11.5